.root {
    composes: grid from global;
    composes: grid-cols-1 from global;
    composes: leading-none from global;
    grid-template-areas:
        'actions'
        'items';
}

.items {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: -mx-4 from global;
    composes: mb-3 from global;
}
